# Mac DS Store
./DS_Store
.DS_Store

# Pycache Files
*.pyc
__pycache__/

# Video Files
*.mp4

# Processed Image Folders
extracted_faces/
processed_faces/
extracted_eyes/
extracted_eyebrows/
extracted_eyes_combined/
extracted_features/
extracted_lips/
extracted*/


